body{
	font-family: helvetica, arial;
	margin: 0;
}

#loginlayout {
	height: 200px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	background: rgba(54, 54, 54, 0.5)

}

#registreer {
	height: 120px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	background: rgba(54, 54, 54, 0.5)
}
